@model IEnumerable<TaskMenager.Models.TaskModel>

@{
    ViewData["Title"] = "Menedżer zadań";
}

<h1>Menedżer zadań</h1>

<p>
    <a asp-action="Create" type="button" class="btn btn-success">Dodaj zadanie</a>
</p>
<table class="table">
    <thead>
        <tr class="row">
            <th class="col-1">
                @Html.DisplayNameFor(model => model.TaskId)
            </th>
            <th class="col-6">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="col-5"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="row">
            <td class="col-1">
                @Html.DisplayFor(modelItem => item.TaskId)
            </td>
                <td class="col-6">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td class="col-5">
                    @Html.ActionLink("Zrealizowano", "Done", new {  id = item.TaskId  }, new { @class = "btn btn-success btn-sm"})
                    @Html.ActionLink("Edytuj", "Edit", new {  id = item.TaskId  }, new { @class = "btn btn-warning btn-sm"})
                    @Html.ActionLink("Szczegóły", "Details", new { id = item.TaskId }, new { @class = "btn btn-info btn-sm"})
                    @Html.ActionLink("Usuń", "Delete", new { id = item.TaskId }, new { @class = "btn btn-danger btn-sm"})
            </td>
        </tr>
}
    </tbody>
</table>
